<!DOCTYPE html>
<html lang="es">


<%- include('../partials/head', {
    title: "Detalle de Producto"
}) %>

<body class="home">
    <%- include('../partials/header') %>

    <main class="row">
        <section class="col-12 col-md-10 mx-auto mb-2">
            <div class="card" style="
            background-color: beige;">
               <div class="card-body d-flex flex-wrap gap-4">
                <div>
                    <img src="/images/<%= mainImage %>" alt="">
                </div>
                <div>
                    <h3><%= name %></h3>
                    <hr>
                    <p><%= description %></p>
                </div>
               </div>
            </div>
        </section>
    </main>

    <%- include('../partials/footer') %>
</body>