<!DOCTYPE html>
<html lang="ES">

<%- include('../partials/head',{ title : 'Editar' }) %>


  <body class="mx-auto">
    <%- include('../partials/header-admin') %>
      <main class="container">
        <section class="row my-5">
          <div class="col-12 col-md-10 mx-auto">
            <div class="card">
              <div class="card-body">
                <form action="/productos/actualizar/<%= id %>?_method=PUT" method="POST" class="row">
                  <h3 class="border-bottom border-secondary-subtle pb-2 mb-4">Editando: <%= name %>
                  </h3>
                  <div class="col-12 col-md-6 mb-3">
                    <div class="form-floating ">
                      <input name="name" type="text" class="form-control" id="name" value="<%= name %>">
                      <label for="name">Nombre</label>
                    </div>
                  </div>
                  <div class="col-12 col-md-6 mb-3">
                    <div class="form-floating">
                      <input name="address" type="text" class="form-control" id="address" value="<%= address %>">
                      <label for="address">Dirección</label>
                    </div>
                  </div>
                  <div class="col-12 mb-3">
                    <div class="form-floating d-flex gap-3">
                      <input name="url_map" type="text" class="form-control" id="address" value="<%= url_map %>">
                      <label for="address">URL Map</label>
                      <a class="btn btn-outline-dark" href="https://www.google.com/maps" target="_blank" style="color: white;" ;"><i
                          class="fa-solid fa-map-location-dot mt-1"></i></a>
                    </div>
                  </div>
                  <div class="col-12 col-md-6 mb-3">
                    <div class="form-floating">
                      <select name="category" class="form-select" id="category"
                        aria-label="Floating label select example">
                        <option value="" selected hidden></option>
                        <option <%=category === "barato" && "selected" %> value="barato">Barato</option>
                        <option <%=category === "romantico" && "selected" %> value="romantico">Romantico</option>
                        <option <%=category === "sofisticado" && "selected" %> value="sofisticado">Sofisticado</option>
                      </select>
                      <label for="category">Categoría</label>
                    </div>
                  </div>
                  <div class="col-12 col-md-3 mb-3">
                    <input name="mainImage" type="file" class="form-control" id="mainImage" hidden>
                    <label class="btn btn-lg btn-outline-dark w-100" for="mainImage">Imagen principal</label>
                  </div>
                  <div class="col-12 col-md-3 mb-3">
                    <input name="images" type="file" class="form-control" id="images" hidden multiple>
                    <label class="btn btn-lg btn-outline-dark w-100" for="images">Imágenes</label>
                  </div>
                  <div class="col-12 mb-3">
                    <div class="form-floating">
                      <textarea name="description" class="form-control" id="description"
                        style="height: 150px; resize: none;"><%= description %></textarea>
                      <label for="description">Descripción</label>
                    </div>
                  </div>

                  <div class="col-12 d-flex justify-content-end">
                    <button type="submit" class="btn btn-lg btn-dark">Guardar cambios</button>
                  </div>
                </form>

              </div>
            </div>
          </div>
        </section>
      </main>

      <%- include('../partials/scripts') %>

  </body>

</html>